.navbar {
    background-color: wheat;
    padding: 10px;
    text-align: right;
}

.navbar ul {
    padding: 5px;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: navy;
    text-decoration: none;
}

.navbar a:hover {
    color: aliceblue;
    text-decoration: underline;
}
.navbar h1 {
    text-align: left;
    color: blueviolet;
}